/********** Template CSS **********/
:root {
    --primary: #c37ce1;
    --secondary: purple;
    --light: #F5F5F5;
    --dark: #14141F;
}
.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*** CURRENTLY EDITING ***/
.list-size {
    height: 30dvh !important;
    width: 100%;
    object-fit: cover;
}
.login {
    border-radius: 30px 0 0 30px !important;
}
.register {
    border-radius: 0 30px 30px 0 !important;
}
.hotels {
    overflow-y: scroll;
    display: block;
}
.description {
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: justify;
    text-justify: inter-word;
    height: 8dvh !important;
}
.sticky {
    position: fixed !important;
    top: 0;
    background-color: var(--primary);
    width: 100%;
    z-index: 100000;
}
.main-text {
    color: #c37ce1 !important;
}
.secondary-text {
    color: var(--secondary) !important;
}
.main-btn {
    background-color: purple !important;
    color: white !important;
    font-weight: 600;
    transition: .5s;
}
.heading {
    color: white;
}
.cover {
    margin-top: 6rem;
}
.size{
    font-size: 15px;
}
  /*Vue Classes*/
  .v-enter-active,
  .v-leave-active {
    transition: opacity 0.5s ease;
  }
  .v-enter-from,
  .v-leave-to {
    opacity: 0;
  }
  /*Vue end*/
  .link {
    color: white;
  }
  .link.active{
    color: var(--primary) !important;
    font-weight: 1000;
  }
  .link:hover {
    color: var(--primary) !important;
  }
  .menu {
    font-family: "Inter", sans-serif;
    width:100%;
    height: 100%;
    overflow-y: scroll;
    z-index:100;
    position: fixed;
    background-color: rgba(0,0,0,70%);
    color:white;
    padding: 0;
  }
  #links {
    list-style-type:none ;
    padding: 0;
    padding-top: 3dvh !important;
  }
  hr {
    margin: 0;
  }
  .pointer {
    cursor: pointer;
  }
  #back {
    font-size: 100%;
    color: purple;
    font-family: "Font Awesome 5 Pro";
    }
  h6#back {
    float: right !important;
    }
  /* End */


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    color: white !important;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--light) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: purple !important;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: var(--primary);
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid var(--primary);
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--light) !important;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: var(--primary);
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: calc(100% - 2px);
        left: 1px;
        background-color: purple !important;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}


/*** Hero Header ***/
.hero-header {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(@/assets/assets/images/bg-hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Destination ***/
.destination img {
    transition: .5s;
}

.destination a:hover img {
    transform: scale(1.1);
}


/*** Package ***/
.package-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.package-item img {
    transition: .5s;
}

.package-item:hover img {
    transform: scale(1.1);
}


/*** Booking ***/
.booking {
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(@/assets/assets/images/booking.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*** Team ***/
.team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

.team-item .btn {
    background: #FFFFFF;
    color: var(--primary);
    border-radius: 20px;
    border-bottom: 1px solid var(--primary);
}

.team-item .btn:hover {
    background: var(--primary);
    color: #FFFFFF;
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 360px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
    .back{
        margin-top: 54px;
    }
    .hero-header{
        margin-top: 66px;
    }
    .marg3{
        margin-top: 80px;
    }

    .img-fluid2 {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
    .back{
        margin-top: 98px;
    }
    .hero-header{
        margin-top: 98px;
    }
        
    .marg3{
        margin-top: 98px;
        margin-bottom: -48px;
    }

    .img-fluid2 {
        max-width: 35%;
        height: auto;
    }
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
    border-color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

#classy{
    text-align: center;
}

#classy2{
    text-align: left !important;
}

#color{
    color:gainsboro !important;
}

.white{
    color: white !important;
}

.dark{
    color: violet;
    font-style: oblique;
}

.violet{
    color:purple;
}

.back{
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(@/assets/assets/images/booking.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -48px;
}

#space{
    margin-left: 40px;
}

#space2{
    margin-top: 25px;
}
#space3{
    margin-right: 20px;
}

.book{
    background-color: #c37ce1;
    color: var(--dark);
    padding-top: 20px;
}

#marg{
    margin-top: 3px !important;
}

.marg2{
    margin-bottom: 40px;
}

.breadcrumb{
    background-color: transparent !important;
}

.sizy{
    font-size: 60px !important;
}

.page-header {
    background: url(@/assets/assets/images/booking.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.texty{
    color: white !important;
    text-shadow: 5px 2px 2px black;
    margin-top: 10px;
    text-align: left;
}
.texty2{
    color: black !important;
    text-shadow: 5px 2px 2px white;
    margin-top: 10px;
    text-align: left;
}

.star{
    color: gold;
    font-size: 30px;
    text-shadow: 5px 2px 2px black;
    align-items: left;
}
.nobr{
    display: inline;
}

.back2{
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(@/assets/assets/images/booking.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.purple{
    color: violet;
}

.justify{
    text-align: justify;
}

.form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 1.8250rem !important;
    padding-bottom: .625rem;
}